.smash-desc {
  text-align: center;
  font-size: clamp(1.2em, 4vw, 2em);
  font-style: italic;
  color: var(--ucsd-coolgray);

  b {
    color: var(--ucsd-magenta);
    }
}

.banner {
  width: 100%;
  background: var(--ucsd-yellow);
  color: white;
  text-align: center;
  padding: 18px 12px;
  font-weight: 700;
  border-radius: 6px;
  font-family: 'Teko', sans-serif;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.banner h1 {
    font-size: clamp(3rem, 12vw, 8rem);
    font-style: italic;
    color: var(--ucsd-navy);
    justify-content: center;
    align-items: center;
    display: flex;
    padding-inline: 20px;
    padding-bottom: 0px;
    line-height: 0.8;
    margin-bottom: 5px;
    padding-top: 20px;
}

